body {
  font-family: 'Quicksand', sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  min-height: 90vh;
  background-color: #f2f6f0;
  color: #000;
}

button {
  font-family: 'Cabin', sans-serif;
  font-size: 2rem;
  background-color: #B23606;
  color: #fff;
  padding: 1rem;
  border: 1px solid black;
  box-shadow: 1px 1px 1px black;
  border-radius: 5px;
  outline: none;
  transition: all .3s;
}

button:hover {
  background-color: #59BF19;
  color: #000;
}

button:active {
  background-color: #4C3A21;
  color: #FFF;
  box-shadow: none;
}

#waitIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  max-width: 100%;
  max-height: 100px;
}

#waitMsg {
  font-size: 1.5rem;
}

.weatherResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  visibility: hidden;
  border: 2px solid #B23606;
  border-radius: 25px;
}

h3 {
  font-size: 2.5rem;
  padding: .5rem;
}

.icon {
  display: flex;
  justify-content: center;
  width: 16vw;
  padding: 1rem 0 0 1rem;
}

.icon img {
  width: 50%;
  height: 50%;
}

#wind {
  text-align: center;
  width: 250px;
  font-size: 1.1rem;
  margin-top: .5rem;
}

#wind img {
  width: 11%;
}

#description {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

footer {
  padding: 2rem;
  display: flex;
  justify-content: center;
  background-color: #4C3A21;
  border-top: 1px solid black;
  color: #fff;
}
